* { 
    font-family: Arial, Helvetica, sans-serif;
}


body::-webkit-scrollbar  {
    -ms-overflow-style: none;  
    scrollbar-width: none;
    display: none;
}


select {
    display: flex;
    border-radius: 10px;
    border-style: none;
    border-width: 2px;
    background-color: #4A4E69;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;  
    color: white;
    width: 120px;
    height: 40px;
    padding-left: 28px;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

.button {
    height: 40px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-style: none;
    border-width: 2px;
    background-color: #4A4E69;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: #22223b;
}

.projectsandtitle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.portfoliolink {
  font-family: 'Xolonium', Arial, Helvetica, sans-serif;
}


